<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Sign Language Translation</title>
  <meta content="" name="description">
  <meta content="" name="keywords">



  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Day
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->


  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Sign Language Translation</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
<!--          <li><a class="nav-link scrollto" href="#services">Services</a></li>-->
<!--          <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>-->
<!--          <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>-->
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
<!--          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>-->
<!--            <ul>-->
<!--              <li><a href="#">Drop Down 1</a></li>-->
<!--              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>-->
<!--                <ul>-->
<!--                  <li><a href="#">Deep Drop Down 1</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 2</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 3</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 4</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 5</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li><a href="#">Drop Down 2</a></li>-->
<!--              <li><a href="#">Drop Down 3</a></li>-->
<!--              <li><a href="#">Drop Down 4</a></li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>-->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1>함께하는 길, 함께 소통하는 즐거움</h1>
      <h2>수어는 다른 언어와 다르지만, 손을 통해 하나로 연결됩니다.</h2><br>
      <button id="test" class="btn-get-started scrollto">사용해보기</button>
      <img id="webcam">
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <h1><br></h1>
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="../static/assets/img/sign.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>환영합니다! 수어의 아름다운 세계로</h3><br>
            <p>
              <br>수어는 청각 장애인과 그 주변 사람들을 위한 중요한 언어입니다. <br>말이나 글자 대신 손, 손가락, 표정, 몸짓, 그리고 공간을 활용하여 아이디어와 감정을 전달합니다. <br>수어는 고유하며 미학적인 언어로, 수어자들 간의 소통 및 문화 형성에 중요한 역할을 합니다.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> 수어는 소리가 없는 언어로, 청각 장애인들에게 말이나 글자가 아닌 새로운 소통 수단을 제공합니다.</li>
              <li><i class="bi bi-check-circle"></i> 수어는 다양한 표현 수단을 활용하며, 감정, 이야기, 문화, 지식을 공유합니다.</li>
              <li><i class="bi bi-check-circle"></i> 수어는 언어로서의 자부심을 갖는 커뮤니티를 형성하며, 이를 통해 사회적 연결성을 강화합니다.</li>
            </ul>

          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">
        <br>
        <h4 style="text-align: center;">수어는 "소리 없는 말"이 아니라, "언어"입니다.</h4>
        <h5 style="text-align: center;">더 많은 사람들이 수어와 그 고유한 문화를 경험하도록 돕기 위해 만들었습니다.</h5><br>
        <br>

        <div class="row">

          <div class="col-lg-4" >
            <div class="box">

              <span>01</span>
              <h4>원활한 소통 연결</h4>
              <p>청각 장애인과 비청각 장애인 간에 언어 장벽을 허물며, 상호 간의 원활한 의사소통을 가능하게 합니다.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
            <div class="box">
              <span>02</span>
              <h4>진로 및 고용 기회 확장</h4>
              <p>청각 장애인들의 진로 및 고용 기회를 확장시켜, 더 많은 분야에서 자립적으로 활동할 수 있도록 돕습니다.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <span>03</span>
              <h4> 문화적 이해와 인식</h4>
              <p>비청각 장애인들의 수어와 관련된 문화적 이해를 높여 수어 문화의 아름다움과 다양성을 더 깊이 이해하게 됩니다.</p>
           </div>
          </div>
        </div>
      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Webcam Section ======= -->
<!--    <section id="translation" class="team">-->
<!--      <div class="container" data-aos="zoom-in">-->

<!--        <div class="section-title">-->
<!--          <span>Webcam</span>-->
<!--          <h2>Sign Language Translation</h2>-->
<!--          <p>화면에 손이 보이도록 해주세요.</p>-->
<!--          <video id="webcam" autoplay></video>-->
<!--        </div>-->



<!--      </div>-->
<!--    </section>&lt;!&ndash; End Webcam Section &ndash;&gt;-->



    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients" data-aos="zoom-in">
      <br><br><br><h2>TECHNOLOGIES USED</h2><br>
      <div class="container" >

        <div class="row d-flex align-items-center">

          <div class="col-lg-2 col-md-4 col-6">
            <img src="../static/assets/img/clients/1.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="../static/assets/img/clients/3.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="../static/assets/img/clients/6.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="../static/assets/img/clients/2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="../static/assets/img/clients/4.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="../static/assets/img/clients/5.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->








    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="zoom-in">

        <div class="section-title">
          <span>Team</span>
          <h2>Team</h2>
          <p>홍익대학교 세종캠퍼스 소프트웨어융합학과</p>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" >
            <div class="member">
              <img src="../static/assets/img/team/김지우.jpg" style="visibility: hidden;" alt="">
              <h4>이민형</h4>
              <span>B689047</span>
              <p>
                qweruser@naver.com
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="../static/assets/img/team/김지우.jpg" alt="">
              <h4>김지우</h4>
              <span>C089074</span>
              <p>
                wldn1692@naver.com
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="../static/assets/img/team/박지용.jpg" alt="">
              <h4>박지용</h4>
              <span>C089076</span>
              <p>
                ijiyong@naver.com
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="../static/assets/img/team/배소영.jpg" alt="">
              <h4>배소영</h4>
              <span>C089077</span>
              <p>
                bny1324@naver.com
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">


    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Day</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/day-multipurpose-html-template-for-free/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

  <script>
        const loadImageBtn = document.getElementById('test');
        const videoImage = document.getElementById('webcam');


        loadImageBtn.addEventListener('click', function() {
            // Change the src attribute of the img tag to load the image
            videoImage.src = "{{ url_for('video_feed') }}?" + new Date().getTime();
        });
    </script>

<!--  <script>-->
<!--    document.addEventListener("DOMContentLoaded", function () {-->
<!--    // Check if the browser supports getUserMedia-->
<!--    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {-->
<!--        // Access the webcam-->
<!--        navigator.mediaDevices-->
<!--            .getUserMedia({ video: true })-->
<!--            .then(function (stream) {-->
<!--                // Assign the webcam stream to the video element-->
<!--                const videoElement = document.getElementById("webcam");-->
<!--                videoElement.srcObject = stream;-->
<!--            })-->
<!--            .catch(function (error) {-->
<!--                console.log("Error accessing the webcam:", error);-->
<!--            });-->
<!--    } else {-->
<!--        console.log("getUserMedia is not supported in this browser.");-->
<!--    }-->
<!--});-->
<!--  </script>-->

</body>

</html>